/**************************/

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/**************************/
/* BELOW 1275px (Landscape Tablets) */
/**************************/

@media (max-width: 80em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .container {
    margin: auto;
    padding: 0 3.2rem;
  }

  .features h2 {
    padding: 8rem 9rem 0 9rem;
  }

  .testimonial-box h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .testimonial-author {
    margin-bottom: 2rem;
  }

  .chair-details {
    padding: 2.5rem 0rem;
  }

  .footer-logo--img {
    height: 3.5rem;
    width: 3.5rem;
  }

  .footer-logo--text {
    font-size: 1.9rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 48%;
  }

  .nav {
    padding: 0;
  }

  .nav__item {
    margin-left: 0;
  }

  .features h2 {
    padding: 8rem 30rem 0 30rem;
  }

  .btn--small {
    font-size: 1.1rem;
    padding: 0.8rem 1.6rem;
  }

  .chair-price {
    font-size: 1.4rem;
  }

  .chair-details li {
    font-size: 1.35rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .nav {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav__links {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 849px  */
/**************************/
@media (max-width: 53em) {
  .features h2 {
    padding: 8rem 22rem 0 22rem;
  }

  .dots {
    bottom: 25%;
  }

  #shop-chairs h3 {
    font-size: 2.1rem;
  }

  .footer-logo--img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .footer-logo--text {
    font-size: 1.4rem;
  }

  .footer-logo--logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -8px;
    margin-top: -4px;
    padding: 2px;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .container {
    padding: 0 8rem;
  }

  h2 {
    font-size: 3.5rem;
    text-align: center;
  }

  header {
    display: grid;
    grid-template-columns: none;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    margin-top: 8rem;
    margin-bottom: 0rem;
  }

  .section {
    margin-bottom: 0rem;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    padding: 0rem 5rem 0 5rem;
  }

  .header-text {
    font-size: 2.5rem;
  }

  .header-text-box {
    display: flex;
    flex-direction: column;
  }
  .header-text-box a {
    align-self: center;
    justify-self: center;
  }

  header img {
    width: 50%;
    align-self: center;
    justify-self: center;
  }

  .btn--text {
    align-self: center;
    font-size: 2rem;
  }

  .features {
    margin-bottom: 0;
  }

  .features .grid-3-cols {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .feature {
    padding: 1.5rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features-icon {
    margin-bottom: 1rem;
  }

  .features h2 {
    margin-bottom: 4rem;
    padding: 11rem 10rem 0 10rem;
  }

  /* .testimonial-section {
    margin: 0 4rem 16.4rem 4rem;
  }

  .testimonial-section div {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  } */

  #testimonial-section {
    margin-bottom: 0rem;
  }

  #testimonial-section h2 {
    margin-bottom: 7rem;
    padding: 6rem 10rem 0 10rem;
  }

  .slide .grid-3-cols {
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8rem;
  }

  .testimonial {
    width: 75%;
    overflow: hidden;
  }

  .testimonial img {
    width: 50%;
  }

  .slider {
    height: 60rem;
  }

  .dots {
    bottom: 5%;
  }

  .dots__dot {
    background-color: #011d1481;
  }

  .dots__dot--active {
    background-color: #012e20b4;
    opacity: 1;
  }

  .slider__btn--right {
    right: 5%;
  }
  .slider__btn--left {
    left: 5%;
  }
  #shop-chairs h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 10rem 0 10rem;
  }

  #shop-chairs div {
    margin: 8rem auto;
    width: 75%;
    grid-template-columns: 1fr;
  }

  .chair {
    margin-bottom: 8rem;
  }
  .chair-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto !important;
    padding: 6rem 3rem 4rem 3rem;
  }
  .chair-box h3 {
    font-size: 3rem;
  }
  .chair-box li {
    font-size: 2rem;
  }
  .chair-price {
    margin: 0 auto !important;
    font-size: 2rem;
    justify-content: space-around;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .footer-logo--logo {
    margin-left: -8px;
    margin-top: -12px;
  }
  .footer-logo--img {
    height: 4.5rem;
    width: 4.5rem;
  }

  .footer-logo--text {
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .container {
    padding: 0 4rem;
  }

  h2 {
    font-size: 4rem;
  }

  header {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 0;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    padding: 0 3rem 0 3rem;
  }
  .header-text {
    font-size: 2.5rem;
    padding: 0 2rem;
  }

  .header-text-box {
    display: flex;
    flex-direction: column;
  }
  .header-text-box a {
    align-self: center;
    justify-self: center;
  }

  header img {
    width: 80%;
    align-self: start;
    justify-self: center;
  }

  #testimonial-section h2 {
    padding: 6rem 4rem 0 4rem;
  }

  .testimonial img {
    width: 100%;
  }

  .testimonial-box {
    grid-column: 2 / -1;
    align-self: center;
    font-size: 2.4rem;
  }

  .testimonial-box h2 {
    margin-bottom: 2.4rem;
  }

  .testimonial-box h3 {
    margin-top: 0rem;
  }

  .testimonial-box-mobile {
    display: flex !important;
    flex-direction: column;
    margin-top: 0rem;
    padding: 0rem;
  }

  .testimonial-text {
    padding: 0rem 1rem;
  }

  .slider {
    height: 70rem;
  }

  .dots {
    bottom: 0%;
  }

  .slider__btn {
    top: 50%;
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
  }

  .chair-box h3 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .features .grid-3-cols {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .feature {
    padding: 1.5rem 0rem;
    text-align: center;
  }

  .features-icon {
    margin-bottom: 1rem;
  }

  .features h2 {
    margin-bottom: 4rem;
    padding: 11rem 4rem 0 4rem;
  }

  .chair:hover {
    transform: none;
  }

  .chair-box li {
    font-size: 2rem;
  }

  .chair-box {
    padding: 3rem 0;
  }

  .chair-price {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
  }

  .chair-details {
    margin-bottom: 0.8rem;
  }

  .btn--small,
  .btn--big {
    font-size: 1.8rem;
  }

  section {
    margin-bottom: 14rem;
  }

  #shop-chairs h2 {
    margin-bottom: 6rem;
    padding: 10rem 4rem 0 4rem;
  }

  #shop-chairs {
    margin-bottom: 8rem;
  }
}

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
