/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* MAIN COLOR: #087f5b */
/* GREY COLOR:#343a40 */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/*  -----------------   GENERAL STYLES  --------------------*/
/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */

body {
  font-family: "inter", sans-serif;
  color: #343a40;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0;
}

header,
section {
  margin-bottom: 16.4rem;
}

section {
  padding-top: 8rem;
}

h2 {
  margin-bottom: 10rem;
  font-size: 5.4rem;
  letter-spacing: -0.5px;
  text-align: center;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  border-radius: 10rem;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

.btn--big {
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
}

.btn--small {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: #5ec576;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/*  -----------------   COMPONENTS  STYLES  --------------------*/
/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */

/*///////////////////////////////////////////////// 
//////////   NAVIGATION  ///////
/////////////////////////////////////////////////*/

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.6rem;
  position: relative;
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 9rem;
  padding: 0 0 0 6rem;
  z-index: 100;
}

.logo {
  text-decoration: none;
  color: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.logo-img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

/* nav and stickly class at the same time */
.nav-bar.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 1.5rem 2.5rem;
  border-radius: 2.5rem;
  background-color: #087f5b;
  color: #fff;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: #099268;
  color: #fff;
}

/* mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*///////////////////////////////////////////////// 
//////////   HEADER  ///////
/////////////////////////////////////////////////*/

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12rem;
  margin-top: 8rem;
}

header img {
  width: 90%;
  border-radius: 0;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 3.2rem;
  font-size: 5.4rem;
  line-height: 1.3;
  letter-spacing: -1px;
}

.header-text {
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  line-height: 1.7;
}

img {
  width: 100%;
  border-radius: 1.2rem;
}

/*/ ////////////////////////////////////////////////
//////////   FEATURES  ///////
/////////////////////////////////////////////////*/

#features h2 {
  padding: 8rem 16.4rem 0 16.4rem;
}

.features-icon {
  stroke: #087f5b;
  width: 3.4rem;
  height: 3.4rem;
}

.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #087f5b2a;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features-title {
  margin-bottom: 1.6rem;
  font-size: 2rem;
}

.features-text {
  font-size: 1.8rem;
  line-height: 1.7;
}

/*///////////////////////////////////////////////// 
//////////   TESTIMONIALS   ///////
/////////////////////////////////////////////////*/

/* /// start of old testimonial section only /// */

.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 2.4rem;
  border-radius: 1.2rem;
}

/* /// end of old testimonial section only /// */

#testimonial-section {
  margin-bottom: 0;
}

#testimonial-section h2 {
  padding: 6rem 16.4rem 0 16.4rem;
}

.testimonial {
  width: 85%;
  position: relative;
  background-color: #087f5b;
  gap: 2rem;
  border-radius: 1.2rem;
}

.testimonial img {
  padding: 2.4rem;
  border-radius: 3.5rem;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
  font-size: 2.4rem;
}

.testimonial-box h3 {
  margin-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  color: #fff;
  padding: 0 4rem;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 2.4rem;
  padding: 0 8rem 0 4rem;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #e6fcf5;
}

.testimonial-author {
  padding: 0 4rem;
  font-size: 1.2rem;
  color: #c3fae8;
}

/*  ///// Slider //////  */

.slider {
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 50rem; */
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

/* Only for images that have different size than slide */
/* .slide > img {  
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.slider__btn {
  position: absolute;
  top: 30%;
  z-index: 10;
  border: none;
  background: #087f5b11;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 3%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #087f5b5d;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #087f5ba9;
  opacity: 1;
}

/*///////////////////////////////////////////////// 
//////////   CHAIRS  ///////
/////////////////////////////////////////////////*/

#shop-chairs {
  margin-bottom: 24rem;
}

#shop-chairs h2 {
  padding: 6rem 16.4rem 0 16.4rem;
}

.chair {
  box-shadow: 0 2rem 3rem rgb(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  padding: 3.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop-chairs h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.chair-details {
  list-style: none;
  padding: 2.5rem 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
}

/* .chair-details li:last-child {
  margin-bottom: 0;
} */

.chair-icon {
  stroke: #087f5b;
  width: 2.4rem;
  height: 2.4rem;
}

.chair-price {
  font-size: 2rem;
  align-items: center;
  padding: 0 4rem;
}

/*///////////////////////////////////////////////// 
//////////   FOOTER  ///////
/////////////////////////////////////////////////*/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  color: #eee;
  background-color: #333;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.8rem;
  text-decoration: none;
}

.footer-logo--logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: -8px;
  margin-top: -10px;
  padding: 2px;
}

.footer-logo--img {
  height: 4rem;
  width: 4rem;
  margin-right: 0;
}

.footer-logo--text {
  color: #111314;
  font-size: 2.4rem;
  font-weight: 700;
}

.contact-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.7rem;
}

.contact-icon--mail {
  margin-right: 1rem;
}

.contact-line {
  display: flex;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #9c9c9c;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
  color: #9c9c9c;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #9c9c9c;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #eee;
}

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
